.profile-container {
	width: 150px;
	height: 250px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
	margin-top: 15px;
	margin-left: 10px;
	display: inline-block;
}

.profile-picture {
	width: 150px;
	height: 150px;
	object-fit: cover;
	object-position: center;
}

.account-name {
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: Arial;
	font-weight: bold;
	font-size: 14px;
	margin-left: 5px;
	margin-top: 5px;
}

.mutuals {
	margin-top: 10px;
	font-family: Arial;
	font-size: 13px;
	font-weight: medium;
	margin-left: 2px;
	color: rgb(97,97,97);
	display: inline-block;
	vertical-align: top;
}

.add-button {
	color: white;
	background-color: rgb(25,118,210);
	margin-left: 5px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 8px;
	padding-bottom: 8px;
	border: none;
	border-radius: 4px;
	font-family: Arial;
	cursor: pointer;
}

.mutual-img {
	width: 25px;
	height: 25px;
	object-fit: cover;
	border-radius: 15px;
	display: inline-block;
	vertical-align: top;
	margin-top: 5px;
	margin-left: 5px;
}
