button {
  background-color: rgb(255, 216, 20);
  color: black;
  border: none;
  border-radius: 18px;
  padding-top: 6.5px;
  padding-bottom: 6.5px;
  padding-left: 48.8px;
  padding-right: 48.8px;
  cursor: pointer;
  transition: background-color 0.15s;
}

button:hover {
  background-color: rgb(246,194,2);
}
