p {
  font-family: Arial;
  margin-bottom: 0px;
  margin-top: 0px;
}

.website {
  font-weight: bold;
}

.handle {
  color: grey;
}

.content {
  width: 500px;
  margin-top: 8px;
}

.referral {
  margin-top: 24px;
}

.mention {
  color: rgb(141,170,194);
}
