.header-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 60px;
	background: rgb(103,58,183);
	justify-content: space-between;
}

.left-section,
.middle-section,
.right-section {
	font-family: Arial;
}

.left-section {
	color: white;
}

p {
	font-family: Arial;
	font-weight: bold;
	margin-left: 15px;
}

input {
	width: 500px;
	border: none;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 20px;
	margin-left: 100px;
	font-size: 16px;
}

button {
	color: white;
	border: 2px;
	border-style: solid;
	border-color: white;
	border-radius: 2px;
	background-color: rgb(103,58,183);
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 15px;
	padding-left: 15px;
	font-size: 18px;
	margin-right: 10px;
	margin-left: 100px;
	margin-top: 18px;
	margin-bottom: 18px;
	cursor: pointer;
}
